.forecast {
  padding-top: 3rem;

  font-weight: 700;
  text-transform: uppercase;
}

.forecast__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast__day {
  font-size: 2.5rem;
  text-align: center;
}

.forecast__body {
  display: flex;
}

.forecast__tmp {
  font-weight: 600;
  font-size: 9rem;
}

.forecast__icon {
  width: 7.5rem;
  margin-left: 1rem;

  object-fit: contain;
}
