.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.map__container {
  width: 40rem;
  height: 40rem;
  margin-bottom: 2rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-mask-clip: padding-box;
  -webkit-mask-image: url(/assets/img/mask.svg);
  -webkit-mask-position: center right;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.map__coords {
  font-weight: 600;
  font-size: 2.5rem;
}
