.widget {
  font-weight: 700;
  text-transform: uppercase;
}

.widget__location {
  font-weight: bold;
  font-size: 5rem;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.widget__date {
  font-size: 3.3rem;
  text-transform: none;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.widget__now {
  margin-left: 3rem;
}

.widget__tmp {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: flex-start;

  font-weight: 900;
  font-size: 34rem;

  @include media-breakpoint-down(md) {
    justify-content: center;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28rem;
  }
}

.widget__icon {
  display: block;
  width: 17rem;
  margin-bottom: 1.5rem;

  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: auto;
  }
}

.widget__descr {
  font-size: 2.5rem;

  .lo-case {
    text-transform: lowercase;
  }

  p {
    margin-bottom: 1.8rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 2rem;
    text-align: center;
  }
}
